<<<<<<< HEAD
version: "3.9"
=======
>>>>>>> d4b2558 (add the create project function)

services:
  db:
    image: postgres:16
    container_name: alen_postgres
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    container_name: alen_django
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:

