{% extends 'main/base.html' %}

{% block content %}
<h1>Связаться со мной</h1>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <p>
        {{ form.title.label_tag }}<br>
        {{ form.title }}<br>
        {{ form.title.errors }}
    </p>
    <p>
        {{ form.user_name.label_tag }}<br>
        {{ form.user_name }}<br>
        {{ form.user_name.errors }}
    </p>
    <p>
        {{ form.user_email.label_tag }}<br>
        {{ form.user_email }}<br>
        {{ form.user_email.errors }}
    </p>
    <p>
        {{ form.message.label_tag }}<br>
        {{ form.message }}<br>
        {{ form.message.errors }}
    </p>
    <button type="submit">Отправить</button>
</form>
{% endblock %}

