{% extends "main/base.html" %}
{% block title %}Blog{% endblock %}

{% block content %}

<section class="section-header">
  <h1 class="section-title">Blog</h1>
  <p class="section-subtitle">
    Here I share thoughts, tutorials, and notes about development,
    technology, and things I learn along the way.
  </p>
</section>

<div class="grid">
  {% for post in posts %}
    <a href="{% url 'blog_detail' post.pk %}" class="card-link">

      <article class="card">
        <div class="card-meta">
          BLOG · {{ post.category }} · {{ post.created_at|date:"d M Y" }}
        </div>

        <h3 class="card-title">{{ post.title }}</h3>

        <p class="card-text">
          {{ post.content|truncatewords:18 }}
        </p>

        <span class="badge">Blog</span>
      </article>

    </a>
  {% endfor %}
</div>

{% endblock %}
